body{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
}

#home{
    overflow: hidden;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#switchToGame{
    border: 1px solid maroon;
    background-color: skyblue;
}

#game{
    display: none;
    background-color: skyblue;
}