body{
    overflow: hidden;
}

#home{
    background: url(assets/pwa0-180.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}